out/
spec/index.html
spec/index.pre.html
spec/webgpu.idl
wgsl/grammar/
wgsl/index.html
wgsl/index.pre.html
wgsl/index.bs.pre
wgsl/wgsl.lalr.txt
wgsl/wgsl.lalr.profile
wgsl/wgsl.recursive.bs.include.pre
explainer/index.html
correspondence/index.html
operations/index.html
tools/node_modules/
.DS_Store
**/__pycache__
