out/
spec/index.html
spec/index.pre.html
spec/webgpu.idl
wgsl/grammar/**
!wgsl/grammar/src
!wgsl/grammar/src/scanner.c
!wgsl/grammar/.gitignore
!wgsl/grammar/binding.gyp
!wgsl/grammar/package.json
!wgsl/grammar/README.md
!wgsl/grammar/tree-sitter.json
wgsl/index.html
wgsl/index.pre.html
wgsl/index.bs.pre
wgsl/wgsl.lalr.txt
wgsl/wgsl.lalr.profile
wgsl/wgsl.recursive.bs.include.pre
explainer/index.html
correspondence/index.html
tools/node_modules/
.DS_Store
**/__pycache__
