out/
spec/index.html
spec/index.pre.html
spec/webgpu.idl
wgsl/grammar/**
!wgsl/grammar/bindings
!wgsl/grammar/bindings/c
!wgsl/grammar/bindings/c/tree-sitter-wgsl.pc.in
!wgsl/grammar/bindings/go
!wgsl/grammar/bindings/go/binding.go
!wgsl/grammar/bindings/python
!wgsl/grammar/bindings/python/tree_sitter_wgsl
!wgsl/grammar/bindings/python/tree_sitter_wgsl/__init__.py
!wgsl/grammar/bindings/rust
!wgsl/grammar/bindings/rust/build.rs
!wgsl/grammar/src
!wgsl/grammar/src/scanner.c
!wgsl/grammar/.gitignore
!wgsl/grammar/binding.gyp
!wgsl/grammar/Cargo.toml
!wgsl/grammar/go.mod
!wgsl/grammar/Makefile
!wgsl/grammar/package.json
!wgsl/grammar/Package.swift
!wgsl/grammar/pyproject.toml
!wgsl/grammar/README.md
!wgsl/grammar/setup.py
!wgsl/grammar/tree-sitter.json
wgsl/index.html
wgsl/index.pre.html
wgsl/index.bs.pre
wgsl/wgsl.lalr.txt
wgsl/wgsl.lalr.profile
wgsl/wgsl.recursive.bs.include.pre
explainer/index.html
correspondence/index.html
tools/node_modules/
.DS_Store
**/__pycache__
