name: preview-pull-request

on:
  workflow_run:
    workflows: ["build-validate-publish"]
    types:
      - completed

jobs:
# This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Extracts PR from Head SHA
      - name: Find PR
        if: ${{ github.event.workflow_run.event == 'pull_request' }}
        run: |
          PR=$(curl https://api.github.com/search/issues?q=${{ github.event.workflow_run.head_sha }} |
          grep -Po "(?<=${{ github.event.workflow_run.repository.full_name }}\/pulls\/)\d*" | head -1)
          echo "PR=$PR" >> $GITHUB_ENV

      # Replaces base specs with head specs
      - name: Pull PR
        if: ${{ github.event.workflow_run.event == 'pull_request' && env.PR }}
        # Note, do not add python scripts here due to easy private key access.
        run: |
          rm spec/index.bs wgsl/index.bs explainer/index.bs
          git fetch https://github.com/${{ github.event.workflow_run.head_repository.full_name }} ${{ github.event.workflow_run.head_sha }}
          git checkout ${{ github.event.workflow_run.head_sha }} {spec,wgsl,explainer,correspondence}/{index.bs,img/}

      # Adds Firebase config files to directory
      - name: Init Firebase
        if: ${{ github.event.workflow_run.event == 'pull_request' && env.PR }}
        run: |
          cat << EOF >> .firebaserc
          {
            "projects": {
              "default": "gpuweb-prs"
            }
          }
          EOF
          cat << EOF >> firebase.json
          {
            "hosting": {
              "public": "out",
              "ignore": [
                "firebase.json",
                "**/.*",
                "**/node_modules/**"
              ]
            }
          }
          EOF

      # Builds Bikeshed specs
      - name: Build Bikeshed
        if: ${{ github.event.workflow_run.event == 'pull_request' && env.PR }}
        run: |
          export PATH="$(python3 -m site --user-base)/bin:${PATH}"
          sh tools/install-dependencies.sh bikeshed wgsl
          BIKESHED_DISALLOW_ONLINE=1 make -j out
          export GHC=https://github.com/gpuweb/gpuweb/blob
          export GHCU=https://github.com/${{ github.event.workflow_run.head_repository.full_name }}/blob
          sed -i -e "s,gpuweb/wgsl/</a><br><a href=\"${GHC}/$(git rev-parse HEAD)/wgsl/index.bs\">${GHC}/$(git rev-parse HEAD)/wgsl/index.bs</a>,gpuweb/wgsl/</a><br><a href=\"${GHCU}/${{ github.event.workflow_run.head_sha }}/wgsl/index.bs\">${GHCU}/${{ github.event.workflow_run.head_sha }}/wgsl/index.bs</a>," out/wgsl/index.html
          sed -i -e "s,gpuweb.github.io/gpuweb/</a><br><a href=\"${GHC}/$(git rev-parse HEAD)/spec/index.bs\">${GHC}/$(git rev-parse HEAD)/spec/index.bs</a>,gpuweb.github.io/gpuweb/</a><br><a href=\"${GHCU}/${{ github.event.workflow_run.head_sha }}/spec/index.bs\">${GHCU}/${{ github.event.workflow_run.head_sha }}/spec/index.bs</a>," out/index.html

      # Deploys PR to Firebase
      - name: Deploy PR
        id: deployment
        uses: FirebaseExtended/action-hosting-deploy@v0
        if: ${{ github.event.workflow_run.event == 'pull_request' && env.PR }}
        with:
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          expires: 10d
          channelId: prs-${{ env.PR }}-${{ github.event.workflow_run.head_sha }}

      # Comments on PR
      # TODO: Possible to make this edit, delete, or flag-as-outdated its past comment?
      - name: Comment PR
        uses: peter-evans/create-or-update-comment@v1
        if: ${{ github.event.workflow_run.event == 'pull_request' && env.PR }}
        with:
          issue-number: ${{ env.PR }}
          body: |
            Previews, as seen when this [build job](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}) started (${{ github.event.workflow_run.head_sha }}):
            [**WebGPU**](${{ steps.deployment.outputs.details_url }}/) <sub>[**`webgpu.idl`**](${{ steps.deployment.outputs.details_url }}/webgpu.idl.txt) | [**Explainer**](${{ steps.deployment.outputs.details_url }}/explainer/) | [**Correspondence Reference**](${{ steps.deployment.outputs.details_url }}/correspondence/)</sub>
            [**WGSL**](${{ steps.deployment.outputs.details_url }}/wgsl/) <sub>[**`grammar.js`**](${{ steps.deployment.outputs.details_url }}/wgsl/grammar/grammar.js) | [**`wgsl.lalr.txt`**](${{ steps.deployment.outputs.details_url }}/wgsl/wgsl.lalr.txt)</sub>
            <!--
            pr;head;sha
            ${{ env.PR }};${{ github.event.workflow_run.head_repository.full_name }};${{ github.event.workflow_run.head_sha }}
            -->
